/*region Tags*/
html, body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    height: 100%;
}

body {
    background: #d9d9d9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #d9d9d9, #b4c1d3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #d9d9d9, #b4c1d3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin:0;
}

a {
    text-decoration: none;
    color: #0000A0;
}

hr {
    border-color: #ffffff;
}

header {
    background-color: black;
}
/*endregion*/

/*region Card*/
.card-rounded {
    min-height: 15pt;
    border-radius: 10px; /* Adjust the value as per your preference */
}
.card-header {
    background: #e8e8e8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #c8cce7, #6f7de8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #c8cce7, #6f7de8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin:0;
    height:100%;
    padding-left: 5pt;
    padding-top: 5pt;
    padding-bottom: 1pt;
    min-height: 15pt;
}
.card-body {
    padding-left: 5pt;
    padding-top: 5pt;
    min-height: 30pt;
}

.card-header-expired {
    background: #bebebe !important;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #bebebe, #817474) !important;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #bebebe, #817474) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card-body-expired {
    background: #bebebe !important;  /* fallback for old browsers */
}

.card {
    background-color: #e8e8e8;
}
/*endregion*/

/*region Side Cards*/
.card-side {
    background: #c8cce7;  /* fallback for old browsers */
}

.card-side-body {

}
/*endregion*/

/*region Link Disabled*/
.link-disabled {
    color: inherit;
    text-decoration: none !important;
}

.link-disabled:hover,
.link-disabled:active,
.link-disabled:focus {
    outline: none;
    text-decoration: none !important;
    color: inherit !important;
}
/*endregion*/

/*region Colors*/
.red {
    color: red;
}

.gray {
    margin-top: -5pt;
    color: #5a5a5a;
}

.white {
    margin-top: -5pt;
    color: #e8e8e8;
}

.green {
    color: forestgreen;
}
/*endregion*/

/*region Column container*/
.col-container {
    height: 100%;
}

.col {
    height: 100%;
}
/*endregion*/

/*region Footer*/
.container-fluid.text-center {
    display: flex;
    align-items: stretch;
}

footer.container-fluid {
    display: flex;
    flex-direction: column;
    min-height: 30vh;
}
/*endregion Footer*/

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
        max-height: 175px;
        overflow: scroll;
    }

    .row.content {
        height: auto;
    }

    .sidenav-hidden {
        height: 0 !important;
        display: none !important;
    }

    footer {
        min-height: 500px !important;
    }
}

.add-job-button {
     padding-top: 5pt;
     padding-bottom: 5pt;
 }

#topOfPage {
    margin-top: 15pt;
}

.middle {
    min-height: 375pt;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% */
.row.content {
    flex-grow: 1;
}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

.cube {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background: white;
}

.display-flex {
    display: flex;
}

.display-flex-child {
    flex-grow: 1;
}

/*region Chat css*/
#chatbox {
    width: 100%;
    margin: 0 auto;
}

#message-container {
    height: 300px;
    overflow-y: scroll;
    margin: 10px 0px 10px 0px;
    border: 1px solid #000000;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding: 10px;
    background: #f1f1f1;

}

#message-input {
    width: 50%;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

#send-btn {

}

.sent {
    color: #b60000;
}

.received {
    color: inherit;
}

/*endregion */